{% extends 'base_view.html' %}

{% block title %}
    <title>Task Tracker Create Task Board Page</title>
{% endblock %}

{% block page_header %}
<div class="container board-listing-header">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <span class="header-label">
                <span>Edit Task Board</span>
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <span class="board-counter">
                <span>

                </span>
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form class="col-md-6 offset-md-3" action="/{{task_board.key.id()}}/edit-task-board" method="post">
        <div class="form-row">
            <div class="form-group col-md-12">
               <h3 class="h3 d-flex justify-content-center">Edit Task Board</h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="task_board_name">Name</label>
                <input type="text" class="form-control"  value="{{task_board.name}}" id="task_board_name" name="task_board_name">
                {% if has_error %}
                    {% if not task_board_name %}
                        <small class="form-text text-danger">Task board name is required</small>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3 mt-3">
                <input type="submit" class="btn btn-block btn-outline-success" name="button" value="Update Task Board">
            </div>
        </div>
    </form>
</div>
{% endblock %}
